*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}
/* header and navigation style */
.nav title{

    font-weight: 800;
    font-size: 40px;
    
}

nav{

    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav ul{

display: flex;
align-items: center;

}
nav li{
    list-style: none;
    margin-left: 50px;
    

}
.text-primary{

color: aqua;

}
 .btn-primary{
    height: 64px;
   border: 0;
    background: #FD6E0A;
    color: var(--white-color, #FFF);
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding: 18px 35px;
    

}
.btn-contact{

    height: 64;
    border-color: #FD6E0A;
    font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding: 18px 35px;


color:#FD6E0A;

}

/* banner */
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.banner-sub title{
    color: var(--dark-02, #474747);
    font-family: Open Sans;
   margin-bottom: 20px;
}

.banner-title{
    color: var(--dark-01, #181818);
    font-family: Open Sans;
    font-size: 85px;

}
.banner-discprition{

    color: var(--dark-03, #757575);
font-family: Open Sans;
font-size: 18px;
margin-bottom: 30px;
}
header{
background: #FFF;
background-image: url(../images/header_bg.png),url(../images/developer.png);
background-repeat: no-repeat;
background-position: bottom right,left;

}

/* main-section*/
main{

    max-width:  1140px;
    margin: 0 auto;
}


/* About section */

.about{
    margin-top: 130px;
    border-radius: 10px;
background: #FFF8F3;
padding: 130px 150px;
text-align: center;



}



.section-title{
    color: var(--dark-01, #181818);

font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;

}

.section-discription{


}

.about-info-container{

  display: flex;  
  text-align: center;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  
}
.about.info-title{

    font-size: 20px;
    color: var(--dark-03, #757575);


}

.info-description{

color: var(--dark-02, #474747);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 20px;
font-style: normal;


}

/* ...what id do styles */

.what-i-do{
    margin-top: 130px;
    border-radius: 10px;
background: #FFF8F3;
padding: 130px 150px;
text-align: center;


}
/* skill logo */

.skill-container{

    display: flex;
    gap: 24px;
    
}

.skill-title{

font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
margin-top: 30px;
margin-bottom: 20px;
}
.skill{

    margin-top: 100px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;

    
    
}
.skill-description{

    color: var(--dark-03, #757575);
    font-family: Open Sans;
   
}
/* ...resume section */
.resume{
    margin-top: 130px;
    text-align: center ;

    margin-bottom: 130px;
    background: #FFF8F3;


}
/* resume style */

.resume-content{
    display: flex;
    margin-top: 40px;
    gap: 24px;
}

.rsume-item{

margin-top: 30px;
margin-bottom: 30px;


}
.resume-title{
    color: var(--dark-02, #474747);
font-family: Open Sans;

margin-bottom: 20px;
    
}



.resume.sub-title{
    color: var(--dark-03, #757575);
font-family: Open Sans;

margin-bottom: 20px;

}

.resume.description{
    color: var(--dark-03, #757575);
font-family: Open Sans;

}
.resume-btn{
    margin-top: 100px;
    margin-left: 400px;
   text-align: center;
   width: 400px;
height: 100px;

}
/* .....contact section */


.contact{

    display: flex;
    gap: 30px;
    margin-bottom: 300px;
    background: lightpink;
    margin-top: 200px;
    padding: 100px 200px;
    

}

.contact .section-title{
   text-align: left;
  
   
   

}
.contact input[type="text"],input[type="email"], textarea{

    margin-bottom: 24px;
    width: 100%;
    border: 0;
   
}
input{

    height: 50px;
    padding: 10px 10px;
}
.contact a{

    text-decoration: none;
}
.section-description{
margin-bottom: 10px;


}